<h1>Patrick Halton Basic</h1>

<h3>Description:</h3>
<p>Creating a portfolio web application using node.js and exrepss handlebars</p>

<h3>Technologies Used:</h3>
<ul>
    <li>Git</li>
    <li>Node.js</li>
    <li>Express</li>
    <li>Express-Handlebars</li>
</ul>

<h3>Git Repo Link</h3>